<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>
<body>
    <div id="app">
        <p>This is {{msg}}</p>
        <p v-text="text"></p>
        <p v-text="parent.father"></p>
        <div v-html="htmlStr"></div>
        <input type="text" v-model="msg"/>
        <p>父亲：{{parent.father}}，母亲：{{parent.mother}}  <span>儿子：{{children.son}}，女儿：{{children.daughter}}</span></p>
        <p v-if="showChild">showChild</p>
        <button v-on:click="clickMe">clickMe</button>
    </div>
    
    <script type="module">
        import Zue from './src/zue.js'

        window.vm = new Zue({
            el: '#app',
            data() {
                return {
                    msg: 'test',
                    text: "lucy",
                    parent: {
                        father: 'kai',
                        mother: 'fang'
                    },
                    children: {
                        son: 'yu',
                        daughter: 'xi'
                    },
                    htmlStr: '<span>只是个测试</span>',
                    showChild: true
                }
            },
            methods: {
                clickMe() {
                    this.msg = "learn vue"
                    this.htmlStr = '<h2>测试发生了改变</h2>'
                }
            }
        })
    </script>
</body>
</html>